# Install rapidly all the required libraries with
# pip install -r requirements.txt

# --- General -------------------------------------------------------------------------------------

pandas

# --- Tweets --------------------------------------------------------------------------------------

stweet==2.1.1 # For twitter scraping
arrow==1.2.3 # For date manipulation
matplotlib # For plotting

pytrends
google-search-results

wikipedia
requests

eel

rembg
Pillow
